{% extends "projects/index.html" %}

{% block content %}

{% load static %}
<link href="{% static 'projects/styles.css' %}" rel="stylesheet" />

<!-- About-->
<div class="container-fluid p-0">
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jahanvi
            <span class="text-primary">Agrawal</span>
        </h1>
        <div class="subheading mb-5">
            Hindaun City, Karauli District,Rajasthan,322230
            <a href="mailto:Jahanviagrawal.cse23@jecrc.ac.in">Jahanviagarwal.cse23@jecrc.ac.in</a>
        </div>
        <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
            overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
            value proposition.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/jahanvi-agrawal-680894243"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/jahanviagrawal22"><i class="fab fa-github"></i></a>
           <a class="social-icon" href="https://instagram.com/jahanvi_agrawal22/"><i class="fab fa-instagram"></i></a>
          <!--  <a class="social-icon" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>-->
        </div>
    </div>
</section>
<hr class="m-0" />
</div>
{% endblock content %}